// utilities
.btn-orange {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 1;
    border: 2px solid $primary_color;
    background: $primary_color;
    color: #fff;
}

.btn-orange:hover {
    background: #d3af71;
}

.btn-outline-orange {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 1;
    border: 2px solid $primary_color;
    color: $primary_color;
    background: #fff;
}

.btn-outline-orange:hover {
    background: $primary_color;
    color: #fff;
}
.btn-square {
    border-radius: 0 !important;
}
button:disabled {
    // cursor: not-allowed !important;
    filter: brightness(50%);
}

.form-control {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}
.form-control:focus {
    border-color: $primary_color;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $primary_color;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $primary_color;
}
// custom scroll
.has-cool-scrollbar::-webkit-scrollbar {
    width: 16px;
}
.has-cool-scrollbar::-webkit-scrollbar-thumb {
    background: #bec4c1;
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
}

// search bar

#search-bar {
    padding: 20px;

    .wrapper {
        padding: 20px;
        width: 100%;
        background: #0c0b09;
        opacity: 0.9;
        color: white;
        border-radius: 5px;
        box-shadow: 0 8px 6px -6px rgba(32, 32, 32, 0.568);
        transition: opacity 0.3s;
        z-index: 100000000000000000000 !important;
    }
    .wrapper:hover {
        opacity: 0.95;
    }
    button {
        padding: 9px 30px !important;
    }
    .form-control {
        background: #0c0b09;
        border-color: #625b4b;
        color: white;
    }
    .dropdown-toggle::after {
        display: none;
    }
    .dropdown-menu {
        width: 300px !important;
    }
}

/* Progress bar */
#nprogress {
    position: relative;
    z-index: 9999999;
  }
#nprogress .bar {
    background: $primary_color !important ;
    height: 3px !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px $primary_color, 0 0 5px $primary_color;
}

#nprogress .spinner-icon {
    border-top-color: white;
    border-left-color: white;
}

[v-cloak] > * {
    display: none;
}
[v-cloak]::before {
    content:  "";
    // position: relative; /*or absolute*/
    // left: 10%;
}
// remove wait cursor from skeleton
.loader {
    cursor: unset !important;
}

//   material cards
.card {
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
}
.card {
    border: 0;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%),
        0 1px 5px 0 rgb(0 0 0 / 12%);
}

.card {
    font-size: 0.875rem;
}
.order-card {
    color: #fff;
}

.bg-c-green {
    background: linear-gradient(45deg, #38c172, #49d483);
}

.bg-c-yellow {
    background: linear-gradient(45deg, #ffb64d, #ffcb80);
}

.dashboard-card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: white !important;
}

.dashboard-card .card-block {
    padding: 25px;
}
.col-step {
    position: relative;
}
.col-step:after {
    content: "";
    position: absolute;
    top: 0.75rem;
    bottom: -1.5rem;
    width: 1px;
    background-color: rgb(209, 209, 209);
    opacity: 0.5;
    left: 40%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.col-step-element {
    border-radius: 50%;
    z-index: 10;
    position: relative;
}
/* tag */

.tag {
    background: #c72333;
    color: white;
    border-radius: 3px 0 0 3px;
    display: inline-block;
    height: 26px;
    padding: 2px 20px 2px 13px;
    position: relative;
    margin: 0 10px 10px 0;
}

.tag::after {
    background: white;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #c72333;
    border-top: 13px solid transparent;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
}



/* radio and checkbox custom styles */

/* Customize the label (the container) */
.inputcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .inputcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkboxmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  /* Create a custom radio button */
  .radiomark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  /* Style the checkmark/indicator */
  .inputcontainer .checkboxmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  /* Style the radiomark indicator (dot/circle) */
  .inputcontainer .radiomark:after {
    top: 9px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

  /* On mouse-over, add a grey background color */
  .inputcontainer:hover input ~ .mark {
    background-color: #ccc;
  }

  /* When the input is checked, add a blue background */
  .inputcontainer input:checked ~ .mark {
    background-color: #2196f3;
  }

  /* Create the mark/indicator (hidden when not checked) */
  .mark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the mark when checked */
  .inputcontainer input:checked ~ .mark:after {
    display: block;
  }

  #notificationsDropdown .notification {
    position: absolute;
    top: 5px;
    border: 1px solid #FFF;
    right: 5px;
    font-size: 9px;
    background: #f44336;
    color: #FFFFFF;
    min-width: 20px;
    top: 0px;
    padding: 0px 5px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 19px;
    vertical-align: middle;
    display: block;
}


