// utilities
.btn-dark {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 1;
    border: 2px solid $dark_color;
    background: $dark_color;
    color: #fff;
}

.btn-dark:hover {
    background: $dark_color;
    border-color: $dark_color;
    color: #fff !important;
}

.btn-outline-dark {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 1;
    border: 2px solid $dark_color;
    color: $dark_color;
    background: #fff;
}

.btn-outline-dark:hover {
    background: $dark_color;
    color: #fff;
    border-color: $dark_color;
}
.btn-orange {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 1;
    border: 2px solid $primary_color;
    background: $primary_color;
    color: #fff;
}

.btn-orange:hover {
    background: $primary_color_dark;
    border-color: $primary_color_dark;
    color: #fff !important;
}

.btn-outline-orange {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 1;
    border: 2px solid $primary_color;
    color: $primary_color;
    background: #fff;
}

.btn-outline-orange:hover {
    background: $primary_color;
    color: #fff;
    border-color: $primary_color;
}
.btn-square {
    border-radius: 0 !important;
}
button:disabled {
    // cursor: not-allowed !important;
    filter: brightness(50%);
}

.form-control {
    border-radius: 3px !important;
    box-shadow: none;
    font-size: 14px;
    height: 44px !important;
}
.form-control:focus {
    border-color: $primary_color;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px $primary_color;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $primary_color;
}
// custom scroll
.has-cool-scrollbar::-webkit-scrollbar {
    width: 16px;
}
.has-cool-scrollbar::-webkit-scrollbar-thumb {
    background: #bec4c1;
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
}

// search bar

#search-bar {
    padding: 20px;

    .wrapper {
        padding: 20px;
        width: 100%;
        background: $dark_color;
        opacity: 0.9;
        color: white;
        border-radius: 5px;
        box-shadow: 0 8px 6px -6px rgba(32, 32, 32, 0.568);
        transition: opacity 0.3s;
        z-index: 100000000000000000000 !important;
    }
    .wrapper:hover {
        opacity: 0.95;
    }
    button {
        padding: 9px 30px !important;
    }
    .form-control {
        background: $dark_color;
        border-color: $primary_color_dark;
        color: white;
    }
    .dropdown-toggle::after {
        display: none;
    }
    .dropdown-menu {
        width: 300px !important;
    }
}

/* Progress bar */
#nprogress {
    position: relative;
    z-index: 9999999;
}
#nprogress .bar {
    background: $primary_color !important ;
    height: 3px !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px $primary_color, 0 0 5px $primary_color;
}

#nprogress .spinner-icon {
    border-top-color: white;
    border-left-color: white;
}

[v-cloak] > * {
    display: none;
}
[v-cloak]::before {
    content: "";
    display: block;
    background-image: url("/storage/images/design/spinner.gif");
    background-repeat: no-repeat;
    background-position: 51% !important;
    width: 100%;
    height: 300px;
}
@media only screen and (max-width: 600px) {
    [v-cloak]::before {
        background-position: 45% !important;
    }
}
// remove wait cursor from skeleton
.loader {
    cursor: unset !important;
}

//   material cards
.card {
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
}
.card {
    border: 0;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%),
        0 1px 5px 0 rgb(0 0 0 / 12%);
}

.card {
    font-size: 0.875rem;
}
.order-card {
    color: #fff;
}

.bg-c-green {
    background: linear-gradient(45deg, #38c172, #49d483);
}

.bg-c-yellow {
    background: linear-gradient(45deg, $primary_color, $primary_color_dark);
}

.dashboard-card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: white !important;
}

.dashboard-card .card-block {
    padding: 25px;
}
.col-step {
    position: relative;
}
.col-step:after {
    content: "";
    position: absolute;
    top: 0.75rem;
    bottom: -1.5rem;
    width: 1px;
    background-color: rgb(209, 209, 209);
    opacity: 0.5;
    left: 40%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.col-step-element {
    border-radius: 50%;
    z-index: 10;
    position: relative;
}
/* tag */

.tag {
    background: #c72333;
    color: white;
    border-radius: 3px 0 0 3px;
    display: inline-block;
    height: 26px;
    padding: 2px 20px 2px 13px;
    position: relative;
    margin: 0 10px 10px 0;
}

.tag::after {
    background: white;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #c72333;
    border-top: 13px solid transparent;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
}

/* radio and checkbox custom styles */

/* Customize the label (the container) */
.inputcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.inputcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkboxmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
/* Create a custom radio button */
.radiomark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}
/* Style the checkmark/indicator */
.inputcontainer .checkboxmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* Style the radiomark indicator (dot/circle) */
.inputcontainer .radiomark:after {
    top: 9px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/* On mouse-over, add a grey background color */
.inputcontainer:hover input ~ .mark {
    background-color: #ccc;
}

/* When the input is checked, add a blue background */
.inputcontainer input:checked ~ .mark {
    background-color: #2196f3;
}

/* Create the mark/indicator (hidden when not checked) */
.mark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the mark when checked */
.inputcontainer input:checked ~ .mark:after {
    display: block;
}
#notificationsDropdownLink .notification {
    position: absolute;
    top: 5px;
    border: 1px solid #fff;
    right: 5px;
    font-size: 9px;
    background: #f44336;
    color: #ffffff;
    min-width: 20px;
    top: 0px;
    padding: 0px 5px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 19px;
    vertical-align: middle;
    display: block;
}

.profile-dropdown-item {
    color: black !important;
}
.alert {
    box-shadow: none !important;
}
.alert-warning {
    background-color: $primary_color !important;
}

@media (min-width: 1000px) {
    .meals-latest-row {
        width: 100% !important;
    }
}

// slider

/*--------------------------------------------------------------
# about-slider Section
--------------------------------------------------------------*/

#about {
    width: 100%;
    height: 100vh;
    background-color: rgba(39, 37, 34, 0.8);
    overflow: hidden;
    padding: 0;
}

#about .carousel-item {
    width: 100% !important;
    height: 100vh !important;
    background-size: cover !important;
    // background-position: center bottom !important;
    background-repeat: no-repeat !important;
}

#about .carousel-item::before {
    content: "";
    background-color: rgba(12, 11, 10, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#about .carousel-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#about .carousel-content {
    text-align: left;
    width: 50% !important;
}

@media (max-width: 800px) {
    #about .carousel-content {
        width: 90% !important;
    }
}

#about h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
}

#about h2 span {
    color: $primary_color;
}

#about p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    // margin: 0 auto  auto;
    color: #fff;
}

#about .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center center !important;
    padding: 0 !important;
}

#about .carousel-inner .carousel-item,
#about .carousel-inner .active.carousel-item-left,
#about .carousel-inner .active.carousel-item-right {
    opacity: 0;
}

#about .carousel-inner .active,
#about .carousel-inner .carousel-item-next.carousel-item-left,
#about .carousel-inner .carousel-item-prev.carousel-item-right {
    opacity: 1;
    transition: 0.5s;
}

#about .carousel-inner .carousel-item-next,
#about .carousel-inner .carousel-item-prev,
#about .carousel-inner .active.carousel-item-left,
#about .carousel-inner .active.carousel-item-right {
    left: 0;
    transform: translate3d(0, 0, 0);
}

#about .carousel-indicators li {
    cursor: pointer;
}

#about .btn-menu,
#about .btn-book {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 0 10px;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    color: #fff;
    border: 2px solid $primary_color;
}

#about .btn-menu:hover,
#about .btn-book:hover {
    background: $primary_color;
    color: #fff;
}

@media (max-width: 768px) {
    #about h2 {
        font-size: 28px;
    }
}

.carousel-inner {
    padding: 0 !important;
}
.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100% !important;
}
.carousel-control-prev,
.carousel-control-next {
    background-color: transparent !important;
    width: 2% !important;
}
.auth-card {
    padding: 50px !important;
}

@media only screen and (max-width: 600px) {
    .auth-card {
        padding: 10px !important;
    }
}

// floating cart button
.floating-cart-btn {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 995;
    border-radius: 100%;
    padding: 20px !important;
    background-color: #55b559 !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px !important;
}
.sidebar-modal {
    // right modal
    .modal.right_modal {
        position: fixed;
        z-index: 99999;
    }

    .modal.right_modal .modal-dialog {
        position: fixed;
        margin: auto;
        width: 35%;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }

    @media only screen and (max-width: 600px) {
        .modal.right_modal .modal-dialog {
            width: 95% !important;
        }
    }

    .modal.right_modal .modal-content {
        /*overflow-y: auto;
    overflow-x: hidden;*/
        height: 100vh !important;
    }

    .modal.right_modal .modal-body {
        padding: 15px 15px 30px;
    }

    .modal-backdrop {
        display: none;
    }

    /*Right*/
    .modal.right_modal.fade .modal-dialog {
        right: -50%;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    .modal.right_modal.fade.show .modal-dialog {
        right: 0;
        box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.5);
    }

    /* ----- MODAL STYLE ----- */
    .modal-content {
        border-radius: 0;
        border: none;
    }

    .modal-header.right_modal {
        padding: 10px 15px;
        border-bottom-color: #eeeeee;
        background-color: #fafafa;
    }

    .modal_outer .modal-body {
        /*height:90%;*/
        overflow-y: auto;
        overflow-x: hidden;
        height: 91vh;
    }
}
