// ______________________________Theme Customization__________________________-

$primary_color: #3f83c0;
$primary_color_dark: #1d4060;
$dark_color: #1d1d1b;

.sidebar-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    margin: 0 1rem 1rem;
}
.sidebar-heading {
    color: #fff;
    text-align: left;
    padding: 0 1rem;
    font-weight: 800;
    font-size: 0.65rem;
    text-transform: uppercase !important;
}
@media (min-width: 991px) {
    .sidebar-mini .sidebar,
    .sidebar-mini .sidebar .sidebar-wrapper {
        width: 91px;
    }
}
.dropdown .dropdown-item:hover {
    background-color: $primary_color !important;
}
.card-icon-custom {
    padding: 20px !important;
}

/* Progress bar */
#nprogress {
    position: relative;
    z-index: 9999999;
}
#nprogress .bar {
    background: $primary_color !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px $primary_color, 0 0 5px $primary_color;
}

#nprogress .spinner-icon {
    display: none;
}

// custom input focus for material dashboard
.form-control,
.is-focused .form-control {
    background-image: linear-gradient(
            to top,
            #55ae59 2px,
            rgba(156, 39, 176, 0) 2px
        ),
        linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}
.vue-form-wizard .wizard-icon-circle {
    border: none !important;
}

button:disabled {
    cursor: unset !important;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: $dark_color;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid $dark_color;
    border-top-color: $primary_color;
    border-bottom-color: $primary_color;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// remove wait cursor from skeleton
.loader {
    cursor: unset !important;
}
// custom scrollbar

.has-cool-scrollbar::-webkit-scrollbar {
    width: 16px;
}
.has-cool-scrollbar::-webkit-scrollbar-thumb {
    background: #bec4c1;
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
}
.multiselect__placeholder {
    display: inline !important;
}

.btn-warning {
    border: 2px solid $primary_color !important;
    background: $primary_color !important;
    color: #fff !important;
    box-shadow: 0 4px 20px 0px rgb(50 92 168 / 14%), 0 7px 10px -5px rgb(50 92 168 / 40%) !important;

}
.btn-warning:hover {
    box-shadow: 0 14px 26px -12px #a5c8e7, 0 4px 23px 0px #a5c8e7,
        0 8px 10px -5px #a5c8e7 !important;
}
.bg-primary {
    background: $primary_color !important;
}

.card .card-header-warning .card-icon,
.card .card-header-warning .card-text,
.card .card-header-warning:not(.card-header-icon):not(.card-header-text),
.card.bg-warning,
.card.card-rotate.bg-warning .front,
.card.card-rotate.bg-warning .back {
    background: linear-gradient(
        60deg,
        $primary_color,
        #347dbd,
        #2d79bb,
    ) !important;
    box-shadow: 0 4px 20px 0px rgb(50 92 168 / 14%), 0 7px 10px -5px rgb(50 92 168 / 40%);

}
.card .card-header-dark .card-icon,
.card .card-header-dark .card-text,
.card .card-header-dark:not(.card-header-icon):not(.card-header-text),
.card.bg-dark,
.card.card-rotate.bg-dark .front,
.card.card-rotate.bg-dark .back {
    background: linear-gradient(
        60deg,
        #464642,
        #3b3b38,
        $dark_color,
    ) !important;
    box-shadow: 0 4px 20px 0px rgb(50 92 168 / 14%), 0 7px 10px -5px rgb(50 92 168 / 40%);

}

.alert.alert-warning {
    background-color: $primary_color !important;
    color: #ffffff;
    box-shadow: 0 4px 20px 0px rgb(50 92 168 / 14%), 0 7px 10px -5px rgb(50 92 168 / 40%);

}
.text-warning {
    color : $primary_color !important;
}

